* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #0f0f0f;
    color: aquamarine;
}

.inputs input {
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    font-weight: 500;
    color: #e2dcc8;
    text-align: center;
    border-radius: 5px;
    background: none;
    pointer-events: none;
    text-transform: uppercase;
    border: 1px solid #b5b5b5;
}

.wrapper {
    width: 430px;
    background: #686262;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #77c024;
}

.wrapper .content {
    margin: 25px 25px 35px;
}

.content.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input {
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    font-weight: 500;
    color: #e2dcc8;
    text-align: center;
    border-radius: 5px;
    background: none;
    pointer-events: none;
    text-transform: uppercase;
    border: 1px solid #b5b5b5;
}

.typing-input {
    opacity: 0;
    z-index: -999;
    position: absolute;
    pointer-events: none;
}

.inputs input:first-child {
    margin-left: 0px;
}

.content .details {
    margin: 20px 0 25px;
}

.details p {
    font-size: 19px;
    margin-bottom: 10px;
}